<template>
  <div class="container">
    <v-container>
      <h1 class="display-2 font-weight-medium">
        <span class="display-1">Tambah</span> Pesanan
      </h1>
      <div class="mt-6">
        <v-form>
          <v-autocomplete
            v-model="form.service_id"
            :items="convertArrayService(user.service)"
            @change="getDetailService()"
            label="Layanan"
            height="60"
            x-large
          ></v-autocomplete>
          <div v-if="service.category && service.category.nama_kategori">
            <small
              >Kategori layanan :
              {{
                service.category && service.category.nama_kategori
                  ? service.category.nama_kategori
                  : null
              }}
            </small>
          </div>
          <div v-if="service.harga_layanan">
            <small
              >Harga layanan : Rp
              {{ service.harga_layanan ? service.harga_layanan : null }}
            </small>
          </div>
          <div v-if="service.waktu_layanan">
            <small
              >Estimasi waktu layanan :
              {{ service.waktu_layanan ? service.waktu_layanan : null }}
              menit</small
            >
          </div>
          <v-text-field
            v-model="form.pelanggan_id"
            return-object
            label="Pelanggan"
            height="60"
            x-large
          ></v-text-field>
          <h1>Waktu Pemesanan</h1>
          <v-row>
            <v-col cols="6">Jam buka : {{ user.jam_buka }}</v-col>
            <v-col cols="6">Jam tutup : {{ user.jam_tutup }}</v-col>
          </v-row>
          <v-row justify="space-around" align="center">
            <v-col cols="12" sm="5">
              <v-dialog
                ref="dialog1"
                v-model="modal1"
                :return-value.sync="form.waktu_mulai"
                width="350px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="form.waktu_mulai"
                    label="Waktu Kedatangan"
                    @change="calculate()"
                    prepend-icon="mdi-clock"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-time-picker
                  v-if="modal1"
                  v-model="form.waktu_mulai"
                  full-width
                >
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="modal1 = false"
                    >Cancel</v-btn
                  >
                  <v-btn text color="primary" @click="calculate()">OK</v-btn>
                </v-time-picker>
              </v-dialog>
            </v-col>
            <v-col cols="12" sm="5">
              <v-text-field
                v-model="form.waktu_selesai"
                label="Estimasi Selesai"
                prepend-icon="mdi-clock"
                readonly
              ></v-text-field>
            </v-col>
          </v-row>
          <v-btn @click="submit" block outlined rounded x-large>
            Tambah Pesanan</v-btn
          >
        </v-form>
      </div>
    </v-container>
  </div>
</template>

<script>
import moment from "moment";
import { mapGetters, mapActions, mapMutations } from "vuex";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      form: {
        nama_layanan: null,
        waktu_mulai: null,
        waktu_selesai: null,
        harga_layanan: null,
      },
      calculateTime: null,
      time: null,
      modal1: false,
      modal2: false,
      services: [],
      opening_time: null,
      closing_time: null,
    };
  },

  computed: {
    ...mapGetters({
      user: "User/user",
      users: "User/users",
      service: "service",
    }),
  },
  methods: {
    ...mapMutations({
      CLEAR_SERVICE: "CLEAR_SERVICE",
    }),
    ...mapActions({
      manual_add_order: "manual_add_order",
      get_detail_service: "get_detail_service",
    }),
    convertArrayService(bunch) {
      var arrays = [];
      bunch.forEach((e) => {
        arrays.push(e.nama_layanan);
      });
      return arrays;
    },
    calculate() {
      if (this.service.waktu_layanan) {
        if (this.service.waktu_layanan >= 1440) {
          Swal.fire("waktu layanan tidak valid");
        } else {
          // $refs.dialog1.save(form.waktu_mulai)
          var serviceHour = parseInt(this.form.waktu_mulai.substr(0, 2)) * 60;
          var serviceMinute = parseInt(this.form.waktu_mulai.substr(3, 2));
          if (
            parseInt(serviceHour) + parseInt(serviceMinute) <
            this.opening_time
          ) {
            return Swal.fire(
              "Bengkel belum buka",
              "bengkel buka pukul " + this.user.jam_buka
            );
          }
          if (
            parseInt(serviceHour) + parseInt(serviceMinute) >
            this.closing_time
          ) {
            return Swal.fire(
              "Bengkel sudah tutup",
              "Harap buat pesanan anda mulai dari pukul " + this.user.jam_buka
            );
          }
          var time =
            parseInt(serviceHour) +
            parseInt(serviceMinute) +
            parseInt(this.service.waktu_layanan);
          if (time > this.closing_time) {
            return Swal.fire(
              "Bengkel sudah tutup",
              "Selesai pengerjaan melebihi waktu jam operasional"
            );
          }
          this.$refs.dialog1.save(this.form.waktu_mulai);

          var num = parseInt(time);
          if (num >= 24 * 60 || num < 0) {
            throw new RangeError(
              "Valid input should be greater than or equal to 0 and less than 1440."
            );
          }
          var h = (num / 60) | 0,
            m = num % 60 | 0;
          var selesai = moment
            .utc()
            .hours(h)
            .minutes(m)
            .format("HH:mm");
          this.form.waktu_selesai = selesai;
        }
      } else {
        Swal.fire("silahkan pilih layanan terlebih dahulu");
      }
    },
    convertArrayUser(bunch) {
      var arrays = [];
      bunch.forEach((e) => {
        arrays.push(e.nama);
      });
      return arrays;
    },
    submit() {
      Swal.fire({
        title: "Tambah Pesanan",
        text: "Anda akan menambahkan pesanan sesuai dengan data diatas",
        showCancelButton: true,
        icon: "question",
      }).then((res) => {
        if (res.value) {
          this.manual_add_order(this.form);
        }
      });
    },
    getDetailService() {
      var data = {
        nama_layanan: this.form.service_id,
      };
      this.get_detail_service(data);
    },
  },
  mounted() {
    if (this.$route.meta.back) {
      if (this.$route.meta.prevLink == "before") {
        window.onBack(() => {
          this.$router.go(-1);
        });
      } else {
        window.onBack(() => {
          this.$router.push(this.$route.meta.prevLink);
        });
      }
    }
    this.CLEAR_SERVICE();
    var serviceHour = parseInt(this.user.jam_buka.substr(0, 2)) * 60;
    var serviceMinute = parseInt(this.user.jam_buka.substr(3, 2));
    this.opening_time = parseInt(serviceHour) + parseInt(serviceMinute);

    var serviceHour = parseInt(this.user.jam_tutup.substr(0, 2)) * 60;
    var serviceMinute = parseInt(this.user.jam_tutup.substr(3, 2));
    this.closing_time = parseInt(serviceHour) + parseInt(serviceMinute);
    // alert("buka : " + this.opening_time + " tutup : " + this.closing_time);
  },
};
</script>

<style></style>
