<template>
  <div class="container">
    <v-container>
      <h1 class="display-2 font-weight-medium">
        <span class="display-1">Tambah</span> Layanan
      </h1>
      <div class="mt-6">
        <v-form>
          <v-text-field
            v-model="form.nama_layanan"
            x-large
            height="60"
            label="Nama Layanan"
          ></v-text-field>
          <v-text-field
            v-model="form.harga_layanan"
            x-large
            type="number"
            height="60"
            label="Harga Layanan"
          ></v-text-field>
          <v-text-field
            v-model="form.waktu_layanan"
            x-large
            type="number"
            height="60"
            label="Waktu Layanan"
          ></v-text-field>
          <!-- <v-textarea
                    label="Alamat"
                    v-model="form.alamat"
                ></v-textarea> -->
          <v-autocomplete
            v-model="form.service_category_id"
            :items="categories"
            item-text="nama_kategori"
            item-value="id"
            label="Kategori Layanan"
            height="60"
            x-large
          ></v-autocomplete>
          <v-btn @click="submit" block outlined rounded x-large>
            Tambah Layanan</v-btn
          >
        </v-form>
      </div>
    </v-container>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      form: {
        nama_layanan: null,
        waktu_layanan: null,
        harga_layanan: null,
        user_id: null,
        service_category_id: null,
      },
    };
  },
  mounted() {
    if (this.$route.meta.back) {
      if (this.$route.meta.prevLink == "before") {
        window.onBack(() => {
          this.$router.go(-1);
        });
      } else {
        window.onBack(() => {
          this.$router.push(this.$route.meta.prevLink);
        });
      }
    }
    this.form.user_id = this.user.id;
  },
  computed: {
    ...mapGetters({
      user: "User/user",
      categories: "categories",
    }),
  },
  methods: {
    ...mapActions({
      add_service: "add_service",
      ERROR_ALERT: "ERROR_ALERT",
    }),
    submit() {
      if (
        this.form.service_category_id &&
        this.form.nama_layanan &&
        this.form.waktu_layanan &&
        this.form.harga_layanan
      ) {
        this.add_service(this.form);
      } else {
        this.ERROR_ALERT("Isi semua data dengan benar");
      }
    },
  },
};
</script>

<style></style>
