<template>
  <div class="container">
    <v-container>
      <h1 class="display-2 font-weight-medium">
        Layanan <span class="display-1">Anda</span>
      </h1>
      <div class="mt-6">
        <v-row>
          <v-btn
            outlined
            class="mx-1 my-1 mb-4"
            block
            to="/view-category-service"
            >Tambah Kategori Layanan<i class="fas fa-plus"></i
          ></v-btn>
          <v-btn outlined class="mx-1 my-1 mb-4" block to="/create-service"
            >Tambah Layanan<i class="fas fa-plus"></i
          ></v-btn>
        </v-row>
        <v-row v-if="user.service.length != 0">
          <v-col cols="12"><small>Daftar Layanan</small></v-col>
          <v-col v-for="(s, i) in user.service" :key="i" cols="6">
            <v-card @click="detail(s)" ripple min-height="100" elevation="2">
              <v-card-text>
                <h3 class="black--text">{{ s.nama_layanan }}</h3>
                <h5>{{ s.harga_layanan }}</h5>
                <small>{{ s.waktu_layanan }} Menit</small>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
        <v-row v-else>
          <v-img
            height="100%"
            width="100%"
            src="https://png.pngtree.com/png-vector/20190628/ourmid/pngtree-empty-box-icon-for-your-project-png-image_1520407.jpg"
            contain
          ></v-img>
          <v-btn to="/create-service" block rounded outlined x-large
            >Tambahkan Layanan <i class="fas fa-plus"></i
          ></v-btn>
        </v-row>
      </div>
    </v-container>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      services: [],
    };
  },
  methods: {
    ...mapMutations({
      GET_PROFILE: "User/GET_PROFILE",
    }),
    detail(service) {
      localStorage.setItem("service_detail", JSON.stringify(service));
      this.$router.push("/detail-service");
    },
  },
  computed: {
    ...mapGetters({
      user: "User/user",
    }),
  },
  mounted() {
    console.log(this.services);
    if (this.$route.meta.back) {
      if (this.$route.meta.prevLink == "before") {
        window.onBack(() => {
          this.$router.go(-1);
        });
      } else {
        window.onBack(() => {
          this.$router.push(this.$route.meta.prevLink);
        });
      }
    }
    localStorage.removeItem("service_detail");
    this.GET_PROFILE();
  },
};
</script>

<style></style>
