<template>
  <div class="container">
    <v-container>
      <h1 class="display-2 font-weight-medium">
        <span class="display-1">Kategori</span> Layanan
      </h1>
      <div class="mt-6">
        <v-form>
          <v-text-field
            v-model="form.nama_kategori"
            x-large
            height="60"
            label="Nama Kategori"
          ></v-text-field>
          <v-btn @click="submit" block outlined rounded x-large>
            Tambah Kategori</v-btn
          >
        </v-form>
      </div>
      <div class="my-8">
        <small>Daftar Kategori Anda</small>
        <v-row class="">
          <v-col cols="6" v-for="(i, index) in categories" :key="index">
            <v-card>
              <v-card-text @click="deleteCategory(i.id)">
                <p>{{ i.nama_kategori }}</p>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-container>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import { mapActions, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      form: {
        nama_kategori: null,
      },
    };
  },
  mounted() {
    if (this.$route.meta.back) {
      if (this.$route.meta.prevLink == "before") {
        window.onBack(() => {
          this.$router.go(-1);
        });
      } else {
        window.onBack(() => {
          this.$router.push(this.$route.meta.prevLink);
        });
      }
    }
    this.form.user_id = this.user.id;
  },
  computed: {
    ...mapGetters({
      user: "User/user",
      categories: "categories",
    }),
  },
  methods: {
    ...mapActions({
      add_service_category: "add_service_category",
      delete_service_category: "delete_service_category",
    }),
    submit() {
      this.add_service_category(this.form);
      this.form.nama_kategori = null;
    },
    deleteCategory(id) {
      Swal.fire({
        title: "Hapus Kategori",
        icon: "question",
        text: "Anda akan menghapus kategori layanan",
        showCancelButton: true,
      }).then((res) => {
        if (res.value) {
          this.delete_service_category(id);
        }
      });
    },
  },
};
</script>

<style></style>
