<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <style>
      h1,h2,h3,h4,h5,h6,p,span,small,button,input{
        font-family: 'Rubik', sans-serif !important;
      }
      body {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-family: 'Quicksand', sans-serif !important;
      }
      a{
        text-decoration: none !important;
        text-transform: none !important;
      }
      .auth-content{
          min-height : 100vh;
          position: relative;
          max-height: 100vh;
          overflow-y: scroll !important;
      }
      .title h2{
          color : #3E4F47
      }
      .background-invoice{
        position: fixed;
        z-index: 0;
        width: 100%;
        top : 0;
        left : 0;
        min-height: 100vh;
      }
      .background{
        min-height: 200px !important;
      }
      .overlay{
        position: absolute;
        z-index: 1;
        height: 100vh;
        background: white;
        opacity: 0.9;
        top: 0;
        left: 0;
        width: 100%;
      }
      .content{
        position: relative;
        z-index: 10;
      }

      .auth-body{
          overflow-y: scroll !important;
          min-height : 44vh;
          position: relative;
          border-radius: 50px;
      }
    </style>
  </head>
  <body onload="onLoad()">
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <script type="text/javascript" src="cordova.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-database.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- built files will be auto injected -->
    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyAAa8EeZV8oonJOGLAv3_ZbO4poX7Ntz20",
        authDomain: "bengkel-app-15648.firebaseapp.com",
        databaseURL: "https://bengkel-app-15648.firebaseio.com",
        projectId: "bengkel-app-15648",
        storageBucket: "bengkel-app-15648.appspot.com",
        messagingSenderId: "218256029594",
        appId: "1:218256029594:web:c51f541b417b6f90ba2c23",
        measurementId: "G-GX5VC6N6HK"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
      var auth = firebase.auth()
      var db = firebase.database()
      window.backHandler = null
      
      window.onBack = function (handler) {
        backHandler = handler
      }
      window.exit = function () {
        navigator.app.exitApp()
      }

      function onLoad() {
        document.addEventListener("deviceready", onDeviceReady, false)
      }
      function onDeviceReady() {
        document.addEventListener("backbutton", onBackKeyDown, false)
      }
      function onBackKeyDown(e) {
        if (typeof backHandler === 'function') {
          backHandler(e)
        }
      }
    </script>
  </body>
</html>
