<template>
  <div class="container">
    <v-container>
      <small v-text="form.nama_bengkel"></small>
      <h1 class="display-2 font-weight-medium text-capitalize">
        <span class="display-1">{{ form.nama_layanan }}</span>
      </h1>
      <div class="d-flex justify-space-between mt-3">
        <small>Harga Layanan : Rp{{ form.harga_layanan }},-</small>
        <small
          ><i class="fas fa-clock"></i> {{ form.waktu_layanan }} menit</small
        >
      </div>
      <div class="d-flex justify-space-between mt-3">
        <small>Harga jasa : Rp10000,-</small>
        <div></div>
      </div>
      <hr class="my-3" />
      <h3>Harga Total :</h3>
      <small>Rp{{ parseInt(form.harga_layanan) + 10000 }},-</small>
      <div class="mt-6">
        <v-form>
          <h1>Waktu Pemesanan</h1>
          <v-row justify="space-around" align="center">
            <v-col cols="12" sm="5">
              <v-dialog
                ref="dialog1"
                v-model="modal1"
                :return-value.sync="form.waktu_mulai"
                width="350px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="form.waktu_mulai"
                    label="Waktu Mulai"
                    prepend-icon="mdi-clock"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-time-picker
                  v-if="modal1"
                  v-model="form.waktu_mulai"
                  full-width
                >
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="modal1 = false"
                    >Cancel</v-btn
                  >
                  <v-btn text color="primary" @click="calculate()">OK</v-btn>
                </v-time-picker>
              </v-dialog>
            </v-col>
            <v-col cols="12" sm="5">
              <v-text-field
                v-model="form.waktu_selesai"
                label="Waktu Selesai"
                prepend-icon="mdi-clock"
                readonly
              ></v-text-field>
            </v-col>
          </v-row>
          <v-btn @click="submit" block outlined rounded x-large>
            Pesan sekarang</v-btn
          >
        </v-form>
      </div>
    </v-container>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import numeral from "numeral";
import moment from "moment";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      form: {
        nama_layanan: null,
        waktu_mulai: null,
        waktu_selesai: null,
        harga_layanan: null,
        bengkel_id: null,
        service_id: null,
        pelanggan_id: null,
        waktu_layanan: null,
        harga_layanan: null,
      },
      time: null,
      modal1: false,
      modal2: false,
      services: [],
    };
  },
  computed: {
    ...mapGetters({
      user: "User/user",
      users: "User/users",
      service: "service",
    }),
  },
  mounted() {
    if (this.$route.meta.back) {
      if (this.$route.meta.prevLink == "before") {
        window.onBack(() => {
          this.$router.go(-1);
        });
      } else {
        window.onBack(() => {
          this.$router.push(this.$route.meta.prevLink);
        });
      }
    }
    var user = JSON.parse(localStorage.getItem("oto_session"));
    var bengkel = JSON.parse(localStorage.getItem("user_detail"));
    var service = JSON.parse(localStorage.getItem("service_detail"));

    this.form.nama_layanan = service.nama_layanan;
    this.form.service_id = service.nama_layanan;
    this.form.waktu_layanan = service.waktu_layanan;
    this.getDetailService(this.form, bengkel);
    this.form.harga_layanan = service.harga_layanan;
    this.form.bengkel_id = bengkel.id;
    this.form.nama_bengkel = bengkel.nama;
    this.form.pelanggan_id = user.nama;
  },
  methods: {
    ...mapActions({
      add_order: "add_order",
      get_detail_service: "get_detail_service",
    }),
    convertArrayService(bunch) {
      var arrays = [];
      bunch.forEach((e) => {
        arrays.push(e.nama_layanan);
      });
      return arrays;
    },
    convertArrayUser(bunch) {
      var arrays = [];
      bunch.forEach((e) => {
        arrays.push(e.nama);
      });
      return arrays;
    },
    getDetailService(form, bengkel) {
      console.log(bengkel);
      var data = {
        nama_layanan: form.service_id,
        bengkel_id: bengkel.id,
      };
      this.get_detail_service(data);
    },
    submit() {
      Swal.fire({
        title: "Tambah Pesanan",
        text: "Anda akan menambahkan pesanan sesuai dengan data diatas",
        showCancelButton: true,
        icon: "question",
      }).then((res) => {
        if (res.value) {
          this.add_order(this.form);
        }
      });
    },
    calculate() {
      console.log(this.service);
      if (this.service.waktu_layanan) {
        if (this.service.waktu_layanan >= 1440) {
          Swal.fire("waktu layanan tidak valid");
        } else {
          this.$refs.dialog1.save(this.form.waktu_mulai);
          var serviceHour = parseInt(this.form.waktu_mulai.substr(0, 2)) * 60;
          var serviceMinute = parseInt(this.form.waktu_mulai.substr(3, 2));
          var time =
            parseInt(serviceHour) +
            parseInt(serviceMinute) +
            parseInt(this.service.waktu_layanan);
          var num = parseInt(time);
          if (num >= 24 * 60 || num < 0) {
            throw new RangeError(
              "Valid input should be greater than or equal to 0 and less than 1440."
            );
          }
          var h = (num / 60) | 0,
            m = num % 60 | 0;
          this.form.waktu_selesai = moment
            .utc()
            .hours(h)
            .minutes(m)
            .format("HH:mm");
        }
      } else {
        Swal.fire("silahkan pilih layanan terlebih dahulu");
      }
    },
  },
};
</script>

<style></style>
