<template>
  <div class="container">
    <v-container>
      <h1 class="display-2 font-weight-medium">
        <span class="display-1">Detail</span> Layanan
      </h1>
      <div class="mt-6">
        <v-row>
          <v-simple-table style="width : 100%">
            <template v-slot:default>
              <tbody>
                <tr>
                  <td class="font-weight-black py-6">Nama Layanan</td>
                  <td>{{ service.nama_layanan }}</td>
                </tr>
                <tr>
                  <td class="font-weight-black py-6">Harga Layanan</td>
                  <td>{{ service.harga_layanan }}</td>
                </tr>
                <tr>
                  <td class="font-weight-black py-6">Waktu Layanan</td>
                  <td>{{ service.waktu_layanan }}</td>
                </tr>
                <tr>
                  <td class="font-weight-black py-6">Kategori Layanan</td>
                  <td>{{ service.category.nama_kategori }}</td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
          <v-btn @click="edit()" block outlined rounded x-large class="mt-3"
            >Perbarui Layanan</v-btn
          >
          <v-btn
            @click="deleteService()"
            block
            outlined
            rounded
            x-large
            class="mt-3"
            color="red"
            >Hapus Layanan</v-btn
          >
        </v-row>
      </div>
    </v-container>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import { mapActions, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {};
  },
  mounted() {
    if (this.$route.meta.back) {
      if (this.$route.meta.prevLink == "before") {
        window.onBack(() => {
          this.$router.go(-1);
        });
      } else {
        window.onBack(() => {
          this.$router.push(this.$route.meta.prevLink);
        });
      }
    }
    var service = JSON.parse(localStorage.getItem("service_detail"));
    this.get_detail_service({ nama_layanan: service.nama_layanan });
  },
  computed: {
    ...mapGetters({
      service: "service",
    }),
  },
  methods: {
    ...mapActions({
      delete_service: "delete_service",
      get_detail_service: "get_detail_service",
    }),
    edit() {
      this.$router.push("/edit-service");
    },
    deleteService() {
      Swal.fire({
        title: "Hapus Data",
        text: "Hapus data layanan",
        icon: "question",
        showCancelButton: true,
      }).then((res) => {
        if (res.value) {
          this.delete_service(this.service);
        }
      });
    },
  },
};
</script>

<style></style>
