<template>
  <div class="container">
    <v-container>
      <h1 class="display-2 font-weight-medium">Ubah Profile</h1>
      <div class="mt-6">
        <v-form>
          <v-text-field
            v-model="form.email"
            x-large
            height="60"
            label="email"
            type="email"
          ></v-text-field>
          <v-text-field
            v-model="form.password"
            x-large
            height="60"
            label="password"
            type="password"
          ></v-text-field>
          <v-text-field
            v-model="form.nama"
            x-large
            height="60"
            label="Nama"
          ></v-text-field>
          <v-autocomplete
            v-model="form.kota"
            :items="['jakarta', 'bogor', 'depok', 'tanggerang', 'bekasi']"
            label="Kota"
            height="60"
            x-large
          ></v-autocomplete>
          <v-textarea label="Alamat" v-model="form.alamat"></v-textarea>
          <v-text-field
            v-model="form.nohp"
            x-large
            type="number"
            height="60"
            label="Nomer Telepon"
          ></v-text-field>
          <hr />
          <div v-if="user.role_id == 3">
            <small>Jam Operasional</small>
            <v-dialog
              ref="dialog1"
              v-model="modal1"
              :return-value.sync="form.jam_buka"
              width="350px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="form.jam_buka"
                  label="Waktu Mulai"
                  prepend-icon="mdi-clock"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-time-picker v-if="modal1" v-model="form.jam_buka" full-width>
                <v-spacer></v-spacer>
                <v-btn text color="primary" @click="modal1 = false"
                  >Cancel</v-btn
                >
                <v-btn
                  text
                  color="primary"
                  @click="$refs.dialog1.save(form.jam_buka)"
                  >OK</v-btn
                >
              </v-time-picker>
            </v-dialog>
            <v-dialog
              ref="dialog2"
              v-model="modal2"
              :return-value.sync="form.jam_tutup"
              width="350px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="form.jam_tutup"
                  label="Jam Tutup"
                  prepend-icon="mdi-clock"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-time-picker v-if="modal2" v-model="form.jam_tutup" full-width>
                <v-spacer></v-spacer>
                <v-btn text color="primary" @click="modal2 = false"
                  >Cancel</v-btn
                >
                <v-btn
                  text
                  color="primary"
                  @click="$refs.dialog2.save(form.jam_tutup)"
                  >OK</v-btn
                >
              </v-time-picker>
            </v-dialog>
          </div>
          <v-btn @click="submit()" block outlined rounded x-large>
            Perbarui Profil</v-btn
          >
        </v-form>
      </div>
    </v-container>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from "vuex";

export default {
  data() {
    return {
      form: {
        nama: null,
        alamat: null,
        nohp: null,
        kota: null,
        email: null,
        password: null,
        jam_buka: null,
        jam_tutup: null,
      },
      modal1: false,
      modal2: false,
    };
  },
  mounted() {
    if (this.$route.meta.back) {
      if (this.$route.meta.prevLink == "before") {
        window.onBack(() => {
          this.$router.go(-1);
        });
      } else {
        window.onBack(() => {
          this.$router.push(this.$route.meta.prevLink);
        });
      }
    }
    this.form.nama = this.user.nama;
    this.form.alamat = this.user.alamat;
    this.form.nohp = this.user.nohp;
    this.form.kota = this.user.kota;
    this.form.email = this.user.email;
    this.form.jam_buka = this.user.jam_buka;
    this.form.jam_tutup = this.user.jam_tutup;
    this.form.password = null;
  },
  computed: {
    ...mapGetters({
      user: "User/user",
    }),
  },
  methods: {
    ...mapActions({
      update_profile: "User/update_profile",
    }),
    submit() {
      this.update_profile(this.form);
    },
  },
};
</script>

<style></style>
