<template>
    <div class="container">
        <OrderList :search="true" :home="false" />
    </div>
</template>

<script>
import OrderList from '@/components/order-list'
export default {
    name : 'WorkshopContent',
    components : {
        OrderList,
    },
    data: () => ({
    }),
    
}
</script>

<style>

</style>