<template>
  <div class="container">
    <div v-if="session && session.role_id != 0">
      <CustomerContent v-if="user && user.role_id == 2" />
      <WorkshopContent v-if="user && user.role_id == 3" />
    </div>
    <v-skeleton-loader
      v-else
      :loading="page_loader"
      type="card"
      transition="fade"
    >
      <v-row justify="center" class="mt-12" align="center">
        <i class="fas fa-spin fa-spinner success--text fa-5x mt-12"></i>
      </v-row>
    </v-skeleton-loader>
  </div>
</template>

<script>
import CustomerContent from "@/components/home/customer-content";
import WorkshopContent from "@/components/home/workshop-content";
import { mapActions, mapGetters, mapMutations } from "vuex";
import Swal from "sweetalert2";
export default {
  name: "Home",
  components: {
    WorkshopContent,
    CustomerContent,
  },
  data() {
    return {
      loading: true,
      role: 0,
      session: null,
    };
  },
  mounted() {
    this.session = JSON.parse(localStorage.getItem("oto_session"));
    if (this.session) {
      this.GET_PROFILE();0
      this.GET_USERS();
    }
  },
  computed: {
    ...mapGetters({
      user: "User/user",
      page_loader: "page_loader",
    }),
  },
  methods: {
    ...mapMutations({
      GET_PROFILE: "User/GET_PROFILE",
      GET_USERS: "User/GET_USERS",
      GET_ORDER: "GET_ORDER",
    }),
    ...mapActions({
      INFO_ALERT: "INFO_ALERT",
    }),
    redirect(user) {
      if (user.role_id == 6) {
        this.$router.push("/");
      }
    },
  },
};
</script>
