<template>
  <div>
    <div class="background-invoice d-flex align-center">
      <v-img src="https://i.ibb.co/v1J1vmJ/photo-removebg-preview.png"></v-img>
    </div>
    <div class="overlay"></div>
    <div class="content">
      <v-container>
        <h4 class="display-4">INVOIS</h4>
        <small>No : {{ order.invoice.no_invoice }}</small>
        <div class="mt-6"><span>Detail Pemesan</span></div>
        <v-row>
          <v-simple-table style="width : 100%" class="transparent">
            <template v-slot:default>
              <tbody>
                <tr>
                  <td class="font-weight-black py-6">Nama Pemesan</td>
                  <td class="text-capitalize">
                    {{ convert(order.pelanggan, "nama")
                    }}{{ convert(order.bengkel, "nama") }}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-black py-6">Alamat</td>
                  <td>
                    {{ convert(order.pelanggan, "alamat")
                    }}{{ convert(order.bengkel, "alamat") }},
                    {{ convert(order.pelanggan, "kota")
                    }}{{ convert(order.bengkel, "kota") }}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-black py-6">Nomer Telepon</td>
                  <td>
                    <span
                      >{{ convert(order.pelanggan, "nohp")
                      }}{{ convert(order.bengkel, "nohp") }}</span
                    >
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-row>
        <hr />
        <div class="mt-6"><span>Detail Pesanan</span></div>
        <v-row>
          <v-simple-table style="width : 100%" class="transparent">
            <template v-slot:default>
              <tbody>
                <tr>
                  <td class="font-weight-black py-6">Nama Layanan</td>
                  <td class="text-capitalize">
                    {{
                      order.service.nama_layanan
                        ? order.service.nama_layanan
                        : null
                    }}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-black py-6">Harga Layanan</td>
                  <td>
                    {{
                      order.service.harga_layanan
                        ? "Rp" +
                          convertPrice(order.service.harga_layanan) +
                          ",-"
                        : null
                    }}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-black py-6">Harga Jasa</td>
                  <td>Rp{{ convertPrice(10000) }},-</td>
                </tr>
                <tr>
                  <td class="font-weight-black py-6">Waktu Layanan</td>
                  <td>
                    {{
                      order.service.waktu_layanan
                        ? order.service.waktu_layanan
                        : null
                    }}
                    Menit
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-black py-6">Waktu dimulai</td>
                  <td>
                    {{ order.start_time ? order.start_time : "-" }}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-black py-6">Waktu selesai</td>
                  <td>
                    {{ order.finish_time ? order.finish_time : "-" }}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-black py-6">Status</td>
                  <td>
                    {{
                      order.status == "selesai" ? "Sudah Bayar" : "Belum Bayar"
                    }}
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
          <!-- <v-btn @click="edit()" block outlined rounded x-large class="mt-3">Edit Layanan</v-btn> -->
        </v-row>
      </v-container>
    </div>
  </div>
</template>

<script>
import numeral from "numeral";
import { mapGetters, mapMutations } from "vuex";
export default {
  computed: {
    ...mapGetters({
      user: "User/user",
      order: "order",
    }),
  },
  mounted() {
    if (this.$route.meta.back) {
      if (this.$route.meta.prevLink == "before") {
        window.onBack(() => {
          this.$router.go(-1);
        });
      } else {
        window.onBack(() => {
          this.$router.push(this.$route.meta.prevLink);
        });
      }
    }
    var order = JSON.parse(localStorage.getItem("order_detail"));
    this.GET_DETAIL_ORDER(order.id);
  },
  methods: {
    ...mapMutations({
      GET_DETAIL_ORDER: "GET_DETAIL_ORDER",
    }),
    convertPrice(price) {
      return numeral(price).format("0,0");
    },

    convert(user, params) {
      if (typeof user == "object") {
        if (params == "nama") {
          return user.nama;
        }
        if (params == "kota") {
          return user.kota;
        }
        if (params == "alamat") {
          return user.alamat;
        }
        if (params == "nohp") {
          return user.nohp;
        }
      }
    },
  },
};
</script>

<style></style>
