<template>
  <div class="container">
    <v-container>
      <h1 class="display-2 font-weight-medium">
        <span class="display-1">Detail</span> Pesanan
      </h1>
      <div class="mt-6" v-if="order">
        <div class="mt-6">
          <span
            v-text="user.role_id == 3 ? 'Detail Pemesan' : 'Detail Bengkel'"
          ></span>
        </div>
        <v-row>
          <v-simple-table style="width : 100%">
            <template v-slot:default>
              <tbody>
                <tr>
                  <td
                    class="font-weight-black py-6"
                    v-text="user.role_id == 3 ? 'Nama Pemesan' : 'Nama Bengkel'"
                  ></td>
                  <td class="text-capitalize">
                    {{ order ? convert(order.pelanggan, "nama") : null
                    }}{{ order ? convert(order.bengkel, "nama") : null }}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-black py-6">Alamat</td>
                  <td>
                    {{ convert(order.pelanggan, "alamat")
                    }}{{ convert(order.bengkel, "alamat") }},
                    {{ convert(order.pelanggan, "kota")
                    }}{{ convert(order.bengkel, "kota") }}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-black py-6">Nomer Telepon</td>
                  <td>
                    <span
                      >{{ convert(order.pelanggan, "nohp")
                      }}{{ convert(order.bengkel, "nohp") }}</span
                    >
                    <span>
                      <v-btn
                        text
                        @click="convertWA(order.bengkel, order.pelanggan)"
                      >
                        Hubungi <i class="fab fa-whatsapp"></i>
                      </v-btn>
                    </span>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-row>
        <hr />
        <div class="mt-6"><span>Detail Pesanan</span></div>
        <v-row>
          <v-simple-table style="width : 100%">
            <template v-slot:default>
              <tbody>
                <tr>
                  <td class="font-weight-black py-6">Nama Layanan</td>
                  <td class="text-capitalize">
                    {{
                      order.service.nama_layanan
                        ? order.service.nama_layanan
                        : null
                    }}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-black py-6">Harga Layanan</td>
                  <td>
                    {{
                      order.service.harga_layanan
                        ? "Rp" +
                          convertPrice(order.service.harga_layanan) +
                          ",-"
                        : null
                    }}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-black py-6">Harga Jasa</td>
                  <td>Rp{{ convertPrice(10000) }},-</td>
                </tr>
                <tr>
                  <td class="font-weight-black py-6">Waktu Layanan</td>
                  <td>
                    {{
                      order.service.waktu_layanan
                        ? order.service.waktu_layanan
                        : null
                    }}
                    Menit
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-black py-6">Waktu kedatangan</td>
                  <td>
                    {{ order.waktu_dimulai ? order.waktu_dimulai : null }}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-black py-6">Estimasi Waktu selesai</td>
                  <td>
                    {{ order.waktu_selesai ? order.waktu_selesai : null }}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-black py-6">Waktu Mulai</td>
                  <td>
                    {{ order.start_time ? order.start_time : "-" }}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-black py-6">Waktu Selesai</td>
                  <td>
                    {{ order.finish_time ? order.finish_time : "-" }}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-black py-6">Status</td>
                  <td>{{ order.status ? order.status : null }}</td>
                </tr>
                <tr v-if="order.status == 'ditolak'">
                  <td class="font-weight-black py-6">Keterangan</td>
                  <td>{{ order.keterangan ? order.keterangan : null }}</td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
          <!-- <v-btn @click="edit()" block outlined rounded x-large class="mt-3">Edit Layanan</v-btn> -->
          <v-col cols="12">
            <div v-if="user.role_id === 3">
              <v-btn
                v-if="order.status == 'masuk'"
                @click="changeStatus('diterima')"
                block
                outlined
                rounded
                x-large
                class="mt-3"
                color="green"
                >Terima Layanan</v-btn
              >
              <v-btn
                v-if="order.status == 'diterima'"
                @click="changeStatus('dikerjakan')"
                block
                outlined
                rounded
                x-large
                class="mt-3"
                color="blue"
                >Kerjakan Layanan</v-btn
              >
              <v-btn
                v-if="order.status == 'dikerjakan'"
                @click="changeStatus('selesai')"
                block
                outlined
                rounded
                x-large
                class="mt-3"
                color="primary"
                >Selesaikan Pengerjaan</v-btn
              >
              <v-btn
                v-if="order.status == 'masuk' || order.status == 'diterima'"
                @click="openSheet()"
                block
                outlined
                rounded
                x-large
                class="mt-3"
                color="red"
                >Tolak Pesanan</v-btn
              >
              <!-- <v-btn v-if="order.status != 'selesai'" @click="deleteorder()" block dark rounded x-large class="mt-3" color="red">Hapus Pesanan</v-btn> -->
            </div>
          </v-col>
          <v-col cols="12">
            <v-btn
              v-if="order.status != 'ditolak'"
              @click="showInvoice()"
              block
              dark
              rounded
              x-large
              class="mt-3"
              color="green"
              >Lihat Invois <i class="fas fa-list ml-4"></i
            ></v-btn>
          </v-col>
        </v-row>
      </div>
      <div v-else>
        <i class="fas fa-4x fa-spin-fa-spinner"></i>
      </div>
    </v-container>

    <v-bottom-sheet v-model="sheet" persistent>
      <v-sheet class="text-center" height="350px">
        <v-btn class="mt-6" text color="error" @click="sheet = !sheet"
          >close</v-btn
        >
        <v-container>
          <v-textarea
            name="input-7-1"
            v-model="keterangan"
            outlined
            label="Keterangan Penolakan"
            hint="Tuliskan alasan penolakan anda"
          ></v-textarea>
          <v-btn
            v-if="order.status == 'masuk' || order.status == 'diterima'"
            @click="changeStatus('ditolak')"
            block
            outlined
            rounded
            x-large
            class="mt-3"
            color="red"
            >Tolak Pesanan</v-btn
          >
        </v-container>
      </v-sheet>
    </v-bottom-sheet>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import numeral from "numeral";
import { mapActions, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      sheet: false,
      keterangan: null,
    };
  },
  computed: {
    ...mapGetters({
      user: "User/user",
      order: "order",
    }),
  },
  mounted() {
    if (this.$route.meta.back) {
      if (this.$route.meta.prevLink == "before") {
        window.onBack(() => {
          this.$router.go(-1);
        });
      } else {
        window.onBack(() => {
          this.$router.push(this.$route.meta.prevLink);
        });
      }
    }
    var order = JSON.parse(localStorage.getItem("order_detail"));
    this.GET_DETAIL_ORDER(order.id);
  },
  methods: {
    ...mapMutations({
      GET_DETAIL_ORDER: "GET_DETAIL_ORDER",
    }),
    convertPrice(price) {
      return numeral(price).format("0,0");
    },
    ...mapActions({
      delete_order: "delete_order",
      change_status: "change_status",
    }),
    edit() {
      this.$router.push("/edit-order");
    },
    convertWA(bengkel, pelanggan) {
      var nohp = null;
      console.log(typeof bengkel);
      console.log(typeof bengkel === undefined);
      // if (typeof bengkel === undefined || typeof pelanggan === undefined) {
      if (typeof bengkel === undefined || pelanggan) {
        console.log("pelanggan");
        nohp = pelanggan.nohp;
        window.open("https://wa.me/62" + nohp.substr(1, 14), "_blank");
      } else {
        console.log("bengkel");
        nohp = bengkel.nohp;
        window.open("https://wa.me/62" + nohp.substr(1, 14), "_blank");
      }
      // }
    },
    showInvoice() {
      this.$router.push("/invoice");
    },
    deleteorder() {
      Swal.fire({
        title: "Hapus Data",
        text: "Hapus data layanan",
        icon: "question",
        showCancelButton: true,
      }).then((res) => {
        if (res.value) {
          this.delete_order(this.order);
        }
      });
    },
    openSheet() {
      this.sheet = true;
    },
    changeStatus(status) {
      var id = this.order.id;
      var data = {
        status: status,
        id: id,
        keterangan: this.keterangan,
      };
      Swal.fire({
        title: "Ubah Status",
        text: "Ganti status dari pesanan ini menjadi " + status,
        icon: "question",
        showCancelButton: true,
      }).then((res) => {
        if (res.value) {
          this.change_status(data);
        }
      });
    },

    convert(user, params) {
      if (typeof user == "object") {
        if (params == "nama") {
          return user.nama;
        }
        if (params == "kota") {
          return user.kota;
        }
        if (params == "alamat") {
          return user.alamat;
        }
        if (params == "nohp") {
          return user.nohp;
        }
      }
    },
  },
};
</script>

<style></style>
