<template>
  <div class="container">
    <small>Profil Anda</small>
    <v-row>
      <v-container>
        <v-simple-table style="width : 100%">
          <template v-slot:default>
            <tbody>
              <tr>
                <td class="font-weight-black py-6">Nama</td>
                <td>{{ user.nama }}</td>
              </tr>
              <tr>
                <td class="font-weight-black py-6">Alamat</td>
                <td>{{ user.alamat }}</td>
              </tr>
              <tr>
                <td class="font-weight-black py-6">Kota</td>
                <td>{{ user.kota }}</td>
              </tr>
              <tr>
                <td class="font-weight-black py-6">Nomer Telepon</td>
                <td>{{ user.nohp }}</td>
              </tr>
              <tr>
                <td class="font-weight-black py-6">Jam Operasional</td>
                <td>{{ user.jam_buka }} - {{ user.jam_tutup }}</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
        <v-btn
          rounded
          to="/edit-profile"
          block
          color="green"
          class="mt-4"
          x-large
          outlined
          >Perbarui Profil <i class="fas fa-pen ml-2"></i
        ></v-btn>
      </v-container>
    </v-row>
    <v-row v-if="user.role_id == 3">
      <v-container>
        <small>Manage Layanan anda</small>
        <div class="d-flex mt-4 justify-center">
          <v-btn outlined class="mx-1" block x-large to="/view-service"
            >Lihat Layanan Anda <i class="fas fa-eye"></i
          ></v-btn>
        </div>
      </v-container>
    </v-row>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import ProfileCard from "@/components/profile-card";
export default {
  components: {
    ProfileCard,
  },

  computed: {
    ...mapGetters({
      user: "User/user",
    }),
  },
  mounted() {
    if (this.$route.meta.back) {
      if (this.$route.meta.prevLink == "before") {
        window.onBack(() => {
          this.$router.go(-1);
        });
      } else {
        window.onBack(() => {
          this.$router.push(this.$route.meta.prevLink);
        });
      }
    }
  },
};
</script>

<style></style>
