<template>
  <!-- Swiper -->
  <div>
        <div class="container">
                <QueueBanner />
                <OrderList :search="false" :home="false" :queue="true" />
        </div>
  </div>

</template>

<script>
import OrderList from '@/components/order-list'
import QueueBanner from '@/components/queue-banner'
export default {
    components : {QueueBanner, OrderList},
    data() {
        return{
            loading : true
        }       
    },
    mounted(){
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 2,
            spaceBetween: 30,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    }
}
</script>

<style scoped>
.swiper-container {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      min-height: 200px;
      max-width: 300px;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
</style>
