<template>
  <div>
    <v-container>
      <ProfileCard :btn="true" />
      <v-container class="mt-n5"> </v-container>
      <div>
        <v-btn
          @click.stop="dialog = true"
          class="mb-4"
          color="primary"
          outlined
          x-large
          rounded
          block
          >Tentang Kami</v-btn
        >
        <v-btn @click="logout" outlined x-large rounded block
          >Keluar Aplikasi</v-btn
        >
      </div>
    </v-container>

    <!-- dialog -->
    <v-dialog v-model="dialog" max-width="290">
      <v-card>
        <v-card-title class="headline">
          <div class="text-center">Tentang Kami</div>
        </v-card-title>

        <v-card-text>
          Hubungi call center kami apabila terdapat kendala dalam menggunakan
          aplikasi <b>otofix</b> dengan tombol berikut :
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="green darken-1" text @click="dialog = false">
            tutup
          </v-btn>

          <a href="https://wa.me/6282210487078" target="_blank">
            <v-btn color="green darken-1" text>
              Hubungi Kami
            </v-btn>
          </a>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import ProfileCard from "@/components/profile-card";
import { mapMutations, mapActions } from "vuex";
export default {
  components: {
    ProfileCard,
  },
  data() {
    return {
      dialog: false,
    };
  },
  methods: {
    ...mapActions({
      LOGOUT_USER: "LOGOUT_USER",
    }),
    logout() {
      Swal.fire({
        text: "Anda akan keluar dari aplikasi",
        title: "Logout",
        icon: "info",
        showCancelButton: true,
      }).then((res) => {
        if (res.value) {
          this.LOGOUT_USER();
        }
      });
    },
  },
};
</script>

<style></style>
