<template>
  <v-sheet class="container d-flex align-center justify-content-center" max-height="100vh" min-height="100vh">
      <v-img  contain src="https://i.ibb.co/v1J1vmJ/photo-removebg-preview.png">
      </v-img>
  </v-sheet>
</template>

<script>
import {mapMutations , mapGetters} from 'vuex'
export default {
  methods : {
    ...mapMutations({
      GET_PROFILE : 'User/GET_PROFILE',
      GET_USERS : 'User/GET_USERS',
      GET_ORDER : 'GET_ORDER'
    }),
  },
  computed : {
    ...mapGetters({
      user : 'User/user',
      users : 'User/users',
    })
  },
  mounted () {
    if(JSON.parse(localStorage.getItem('oto_session'))){
      this.GET_PROFILE()
      this.GET_USERS()
      setTimeout(() => {
        this.$router.push('/home')
      }, 3000);
    }else{
        setTimeout(() => {
            this.$router.push('/login')
        }, 3000);
    }
  }
}
</script>

<style>

</style>