<template>
  <div>
    <v-sheet height="100%" width="100%">
      <v-row align="center" justify="center"> etes </v-row>
    </v-sheet>
  </div>
</template>

<script>
export default {
  mounted() {},
};
</script>

<style></style>
