<template>
  <div>
    <v-container>
      <small>Detail Bengkel</small>
      <v-simple-table style="width : 100%">
        <template v-slot:default>
          <tbody>
            <tr>
              <td class="font-weight-black py-6">Nama Bengkel</td>
              <td class="text-capitalize">{{ user.nama }}</td>
            </tr>
            <tr>
              <td class="font-weight-black py-6">Lokasi</td>
              <td v-text="user.alamat + ', ' + user.kota"></td>
            </tr>
            <tr>
              <td class="font-weight-black py-6">Nomor handpone</td>
              <td>
                <span></span> {{ user.nohp }}
                <span
                  ><a target="_blank" :href="convertWA(user.nohp)">
                    Hubungi <i class="fab fa-whatsapp"></i></a
                ></span>
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
      <v-container>
        <v-row>
          <div class="mb-4">
            <small>Layanan yang tersedia</small>
          </div>
          <v-row
            justify="center"
            v-if="user && user.service && user.service.length > 0"
          >
            <v-expansion-panels popout>
              <v-expansion-panel v-for="(item, i) in user.service" :key="i">
                <v-expansion-panel-header class="d-flex justify-space-between">
                  <span>{{ item.nama_layanan }}</span>
                  <small class="text-right"
                    >Rp.{{ convert(item.harga_layanan) }}</small
                  >
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-container>
                    <div class="d-flex mb-3 justify-space-between">
                      <small>Estimasi Pengerjaan : </small>
                      <span class="green--text"
                        >{{ item.waktu_layanan }} Menit</span
                      >
                    </div>
                    <v-btn @click="order(item)" block x-large outlined
                      >Pesan layanan</v-btn
                    >
                  </v-container>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-row>
          <v-row v-else justify="center">
            <v-img
              height="100%"
              width="100%"
              src="https://png.pngtree.com/png-vector/20190628/ourmid/pngtree-empty-box-icon-for-your-project-png-image_1520407.jpg"
              contain
            ></v-img>
            <h5 class="text-center mt-n2">
              Belum ada Layanan yang ditambahkan
            </h5>
          </v-row>
        </v-row>
      </v-container>
    </v-container>
  </div>
</template>

<script>
import numeral from "numeral";
import { mapMutations, mapGetters } from "vuex";
export default {
  methods: {
    ...mapMutations({
      USER_DETAIL: "User/USER_DETAIL",
    }),
    convertWA(nohp) {
      if (nohp) {
        return "https://wa.me/62" + nohp.substr(1, 14);
      }
    },
    convert(price) {
      return numeral(price).format("0,0");
    },
    order(service) {
      localStorage.setItem("service_detail", JSON.stringify(service));
      this.$router.push("/create-order-customer");
    },
  },
  computed: {
    ...mapGetters({
      user: "User/user",
    }),
  },
  mounted() {
    if (this.$route.meta.back) {
      if (this.$route.meta.prevLink == "before") {
        window.onBack(() => {
          this.$router.go(-1);
        });
      } else {
        window.onBack(() => {
          this.$router.push(this.$route.meta.prevLink);
        });
      }
    }
    var user = JSON.parse(localStorage.getItem("user_detail"));
    console.log(user);
    this.USER_DETAIL(user);
  },
};
</script>

<style></style>
