<template>
  <div>
    <v-container>
      <v-sheet class="container">
        <h1 class="display-2 ml-n1">Daftar Bengkel</h1>
        <div>
          <small>Daftar semua bengkel otofix</small>
        </div>
        <v-row>
          <v-col cols="12">
            <v-text-field
              label="Cari Bengkel"
              v-model="keyword"
              @keyup="search()"
              @click:append-outer="search()"
              append-outer-icon="mdi-magnify"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row v-if="users.length > 0">
          <v-col
            v-if="u.is_verified"
            cols="12"
            v-for="(u, i) in users"
            :key="i"
          >
            <v-card @click="redirect(u)" ripple>
              <v-card-text>
                <h4 class="text-capitalize " v-text="u.nama" />
                <span class="blue--text">
                  Verified <i class="fas fa-check-circle"></i>
                </span>
                <p v-html="u.alamat + ', <b>' + u.kota + '</b>'"></p>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
        <v-row v-else>
          <div>
            <v-img
              height="100%"
              width="100%"
              src="https://png.pngtree.com/png-vector/20190628/ourmid/pngtree-empty-box-icon-for-your-project-png-image_1520407.jpg"
              contain
            ></v-img>
            <h5 class="text-center">Pengguna tidak ditemukan</h5>
          </div>
        </v-row>
      </v-sheet>
    </v-container>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      keyword: null,
    };
  },
  computed: {
    ...mapGetters({
      users: "User/users",
    }),
  },
  mounted() {
    if (this.$route.meta.back) {
      if (this.$route.meta.prevLink == "before") {
        window.onBack(() => {
          this.$router.go(-1);
        });
      } else {
        window.onBack(() => {
          this.$router.push(this.$route.meta.prevLink);
        });
      }
    }
    this.CLEAR_USER();
  },
  methods: {
    ...mapMutations({
      GET_USERS: "User/GET_USERS",
      SEARCH_USERS: "User/SEARCH_USERS",
      CLEAR_USER: "User/CLEAR_USER",
    }),
    redirect(user) {
      localStorage.setItem("user_detail", JSON.stringify(user));
      this.$router.push("/workshop-profile");
    },
    search() {
      if (this.keyword) {
        this.SEARCH_USERS(this.keyword);
      } else {
        this.GET_USERS();
      }
    },
  },
};
</script>

<style></style>
