<template>
  <div>
    <ProfileCard :btn="true" />
    <section class="d-flex justify-space-between">
      <small>Bengkel terdekat Anda</small>
      <small><i class="fas fa-search-location"></i> Bekasi</small>
    </section>
    <Banner />
    <div class="d-flex justify-end mt-3">
      <small
        ><router-link to="/workshop"
          >Lihat semua <i class="fas fa-chevron-right"></i></router-link
      ></small>
    </div>
    <OrderList :search="false" :home="true" />
  </div>
</template>

<script>
import ProfileCard from "@/components/profile-card";
import Banner from "@/components/Banner";
import { mapGetters } from "vuex";
import OrderList from "@/components/order-list";
export default {
  name: "CustomerContent",
  components: {
    Banner,
    ProfileCard,
    OrderList,
  },
  computed: {
    ...mapGetters({
      user: "User/user",
    }),
  },
};
</script>

<style></style>
