<template>
  <div>
    <ProfileCard :btn="true" />
    <v-row class="mt-n6">
      <v-container>
        <v-btn outlined x-large rounded block to="/create-order"
          >Tambah Pesanan <i class="fas fa-plus"></i
        ></v-btn>
      </v-container>
    </v-row>
    <OrderList :search="false" :home="true" />
  </div>
</template>

<script>
import OrderList from "@/components/order-list";
import ProfileCard from "@/components/profile-card";
import { mapGetters, mapMutations } from "vuex";
export default {
  name: "WorkshopContent",
  components: {
    OrderList,
    ProfileCard,
  },
  data: () => ({}),
  computed: {
    ...mapGetters({
      user: "User/user",
    }),
  },
  mounted() {
    // if (!this.user.is_verified) {
    //   this.$router.push({ name: "Verification" });
    // }
  },
};
</script>

<style></style>
