<template>
  <!-- Swiper -->
  <div class="container">
    <div class="mt-2">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div
            class="swiper-slide"
            v-if="u.is_verified"
            :key="i"
            v-for="(u, i) in users"
          >
            <v-card
              :min-height="110"
              min-width="100%"
              @click="redirect(u)"
              ripple
              class="text-left"
            >
              <v-card-text>
                <h4 style="width : 120px" class="text-truncate">
                  {{ u.nama }}
                </h4>
                <p style="width : 120px" class="text-truncate">
                  <small class="">{{ u.alamat + ", " + u.kota }}</small> <br />
                </p>
                <div class="mt-n2" v-if="u.is_verified">
                  <small class="grey--text">Rekomendasi</small>
                  <i class="fas fa-check-circle ml-2"></i>
                </div>
              </v-card-text>
            </v-card>
          </div>
        </div>
        <!-- <div class="swiper-pagination"></div> -->
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      loading: true,
    };
  },
  computed: {
    ...mapGetters({
      users: "User/users",
      orders: "User/orders",
    }),
  },
  methods: {
    redirect(user) {
      localStorage.setItem("user_detail", JSON.stringify(user));
      this.$router.push("/workshop-profile");
    },
  },
  mounted() {
    var swiper = new Swiper(".swiper-container", {
      slidesPerView: 2,
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  },
};
</script>

<style scoped>
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  min-height: 100px;
  max-width: 200px;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
</style>
