<template>
  <v-bottom-navigation
    grow
    height="60"
    fixed
    app
    v-model="activeBtn"
    color="teal"
  >
    <v-btn class="my-3" @click="redirect('/home', 0)">
      <span>Beranda</span>
      <v-icon>mdi-home</v-icon>
    </v-btn>

    <v-btn
      class="my-3 active"
      v-if="user.role_id == 3"
      @click="redirect('/queue', 1)"
    >
      <span>Antrean</span>
      <v-icon>mdi-clipboard-list</v-icon>
    </v-btn>

    <v-btn class="my-3 active" @click="redirect('/history', 2)">
      <span>Riwayat</span>
      <v-icon>mdi-book-open</v-icon>
    </v-btn>

    <v-btn class="my-3" @click="redirect('/setting', 3)">
      <span>Menu</span>
      <v-icon>mdi-cog</v-icon>
    </v-btn>
  </v-bottom-navigation>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      activeBtn: 0,
    };
  },
  computed: {
    ...mapGetters({
      user: "User/user",
    }),
  },
  mounted() {
    this.LOGGED_IN_USER = JSON.parse(localStorage.getItem("oto_session"));
    var footNav = localStorage.getItem("footNav");
    if (footNav == 0) {
      this.activeBtn = 0;
    } else if (footNav == 1) {
      this.activeBtn = 1;
    } else if (footNav == 2) {
      this.activeBtn = 2;
    } else if (footNav == 3) {
      this.activeBtn = 3;
    }
    console.log(footNav);
    console.log(this.activeBtn);
  },
  methods: {
    redirect(path, page) {
      localStorage.setItem("footNav", page);
      this.$router.push({ path: path }).catch((err) => {});
    },
  },
};
</script>

<style></style>
