<template>
  
    <v-sheet
      app
      dark
      class="transparent mb-n9"
      elevation="0"
      height="90"
    >
    <v-container>
      
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://i.ibb.co/v1J1vmJ/photo-removebg-preview.png"
          transition="scale-transition"
          width="90"
        />

        <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://i.ibb.co/v1J1vmJ/photo-removebg-preview.png"
          width="100"
        />
      </div>

      <v-spacer></v-spacer>
    </v-container>

    </v-sheet>
</template>

<script>
export default {
    name : 'Header'
}
</script>

<style>

</style>