<template>
  <div>
    <v-row>
      <v-container>
        <div class="d-flex justify-space-between">
          <small>Daftar pesanan anda</small>
        </div>

        <div class="container">
          <v-text-field
            v-if="this.search"
            v-model="keyword"
            label="Cari pesanan"
            x-large
            clearable
            @keyup="searchOrder()"
            class="mt-4"
            @click:append-outer="searchOrder()"
            append-outer-icon="mdi-magnify"
          ></v-text-field>
          <div v-if="!queue">
            <v-chip-group
              v-if="!keyword"
              mandatory
              v-model="chip"
              active-class="success--text"
            >
              <v-chip v-if="!home" class="text-capitalize" @click="filterAll()">
                Semua
              </v-chip>
              <v-chip
                class="text-capitalize"
                @click="filter(tag)"
                v-for="tag in tags"
                :key="tag"
              >
                {{ tag }}
              </v-chip>
            </v-chip-group>
          </div>
        </div>
        <v-container class="mt-n5">
          <v-list v-if="orders.length != 0">
            <v-list-item-group color="primary">
              <v-list-item
                v-for="(item, i) in orderArray(orders)"
                :key="i"
                two-line
                @click="redirect(item)"
              >
                <!-- <v-list-item-icon>
                                <v-icon v-text="item.icon"></v-icon>
                            </v-list-item-icon> -->
                <v-list-item-content>
                  <v-list-item-title
                    >{{ convert(item.pelanggan)
                    }}{{ convert(item.bengkel) }}</v-list-item-title
                  >
                  <v-list-item-subtitle>
                    {{ item.service.nama_layanan }}
                  </v-list-item-subtitle>
                  <v-list-item-subtitle
                    v-if="chip != 0"
                    class="text-right mt-n4 green--text"
                  >
                    {{ convertDate(item.created_at) }}
                  </v-list-item-subtitle>
                  <v-list-item-subtitle
                    v-if="chip == 0"
                    class="text-right mt-n4 green--text"
                  >
                    <span v-text="item.status"></span>
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
          <div v-else>
            <v-img
              height="100%"
              width="100%"
              src="https://png.pngtree.com/png-vector/20190628/ourmid/pngtree-empty-box-icon-for-your-project-png-image_1520407.jpg"
              contain
            ></v-img>
            <h5 class="text-center">Belum ada pesanan</h5>
          </div>
        </v-container>
      </v-container>
    </v-row>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      tags: ["masuk", "diterima", "dikerjakan", "selesai", "ditolak"],
      chip: 0,
      item: 1,
      items: [
        { text: "Real-Time", icon: "mdi-clock" },
        { text: "Audience", icon: "mdi-account" },
        { text: "Conversions", icon: "mdi-flag" },
      ],
      keyword: null,
    };
  },
  props: ["search", "home", "queue"],
  computed: {
    ...mapGetters({
      user: "User/user",
      users: "User/users",
      orders: "orders",
    }),
  },
  mounted() {
    this.CLEAR_ORDER();
    localStorage.removeItem("order_detail");
    if (this.home) {
      this.GET_ORDER_FILTER("masuk");
    } else if (this.queue) {
      this.GET_ORDER_FILTER("diterima");
    } else {
      this.GET_ORDER();
    }
  },
  methods: {
    orderArray(arr) {
      if (this.queue) {
        var result = arr.slice(0, 2);
        console.log(result);
        return result;
      } else {
        return arr;
      }
    },
    searchOrder() {
      if (this.keyword) {
        this.chip = 0;
        this.GET_ORDER_SEARCH(this.keyword);
      } else {
        this.GET_ORDER();
      }
    },
    convert(bunch) {
      var arrays = [];
      bunch.forEach((element) => {
        arrays.push(element.nama);
      });
      return arrays;
    },
    ...mapMutations({
      GET_ORDER_FILTER: "GET_ORDER_FILTER",
      GET_ORDER: "GET_ORDER",
      CLEAR_ORDER: "CLEAR_ORDER",
      GET_ORDER_SEARCH: "GET_ORDER_SEARCH",
    }),
    filter(status) {
      this.GET_ORDER_FILTER(status);
    },
    filterAll() {
      this.GET_ORDER();
    },
    convertDate(date) {
      return (
        new Date(date).getDate() +
        "/" +
        new Date(date).getMonth() +
        "/" +
        new Date(date).getFullYear()
      );
    },
    redirect(order) {
      localStorage.setItem("order_detail", JSON.stringify(order));
      this.$router.push("/order");
    },
    convert(user) {
      if (typeof user === "object") {
        return user.nama;
      }
    },
  },
};
</script>

<style></style>
