<template>
  <div>
    <v-row>
      <v-container>
        <small>Profil Anda</small>
        <v-card
          dark
          elevation="0"
          class="my-3 mb-6"
          style="border : solid 2px black"
        >
          <v-card-text>
            <v-container class="d-flex">
              <v-sheet width="80%">
                <h3 class="text-capitalize">
                  {{ user.nama }}
                  <i
                    v-if="user.is_verified"
                    class="fas fa-check-circle text--blue"
                  ></i>
                </h3>
                <small
                  >{{ user.alamat }} ,
                  <b class="text-capitalize">{{ user.kota }}</b></small
                >
              </v-sheet>
              <v-sheet width="20%" class="mt-3 text-right" v-if="btn">
                <v-btn icon rounded outlined to="/profile" x-large
                  ><i class="fas fa-user"></i
                ></v-btn>
              </v-sheet>
            </v-container>
          </v-card-text>
        </v-card>
      </v-container>
    </v-row>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
export default {
  name: "ProfileCard",

  computed: {
    ...mapGetters({
      user: "User/user",
    }),
  },
  props: ["btn"],
};
</script>

<style></style>
