<template>
  <div>
    <small>Kerjaan berlangsung</small>
    <v-row v-if="queues.length > 0">
      <v-col cols="6" v-for="(o, i) in queues" :key="i">
        <v-card @click="redirect(o)" ripple class="text-left">
          <v-card-text>
            <small>id : {{ o.id }}</small>
            <h4>{{ o.pelanggan.nama }}</h4>
            <p style="width : 150px" class="text-truncate">
              <small class="">{{ o.service.nama_layanan }}</small>
            </p>
            <small
              >Status : <b>{{ o.status }}</b></small
            >
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <div class="grey--text text-center my-10" v-else>
      Belum ada pengerjaan
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
export default {
  name: "QueueBanner",
  data() {
    return {
      loading: true,
    };
  },
  computed: {
    ...mapGetters({
      orders: "orders",
      queues: "queues",
    }),
  },
  methods: {
    ...mapMutations({
      GET_QUEUE: "GET_QUEUE",
    }),
    redirect(order) {
      localStorage.setItem("order_detail", JSON.stringify(order));
      this.$router.push("/order");
    },
  },
  mounted() {
    this.GET_QUEUE();
    var swiper = new Swiper(".swiper-container", {
      slidesPerView: 2,
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  },
};
</script>

<style scoped>
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  min-height: 220px;
  max-width: 300px;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
</style>
