<template>
  <v-app>
    <Header v-if="$route.meta.navbar" />
    <v-container
      v-if="$route.meta.back && !$route.meta.hide"
      class="mt-3 d-flex"
    >
      <v-btn
        @click="
          $route.meta.prevLink == 'before'
            ? $router.go(-1)
            : $router.push($route.meta.prevLink)
        "
        x-large
        icon
        ><i class="fas fa-arrow-left"></i
      ></v-btn>
    </v-container>
    <v-main>
      <vue-page-transition name="fade-in-right">
        <router-view />
      </vue-page-transition>
    </v-main>
    <Footer v-if="$route.meta.navbar && user.role_id" />
  </v-app>
</template>

<script>
import Header from "@/components/Header";
import Footer from "@/components/Footer";
import Swal from "sweetalert2";
import { mapGetters, mapMutations } from "vuex";
export default {
  name: "App",

  components: {
    Header,
    Footer,
  },
  methods: {
    ...mapMutations({
      GET_PROFILE: "User/GET_PROFILE",
      GET_USERS: "User/GET_USERS",
      GET_QUEUE: "GET_QUEUE",
      GET_SERVICE_CATEGORY: "GET_SERVICE_CATEGORY",
    }),
  },
  computed: {
    ...mapGetters({
      user: "User/user",
      users: "User/users",
    }),
  },
  mounted() {
    // firebase listener
    var user_ = JSON.parse(localStorage.getItem("oto_session"));
    if (user_) {
      if (user_.role_id == 2) {
        //   db.ref('pelanggan/'+user_.id).on('child_added', (snapshot) => {
        //     console.log('bertambah')
        //     this.GET_PROFILE()
        //   })
        //   db.ref('pelanggan/'+user_.id).on('child_changed', (snapshot) => {
        //     console.log('berubah')
        //     this.GET_PROFILE()
        //   })
        //   db.ref('pelanggan/'+user_.id).on('child_removed', (snapshot) => {
        //     console.log('dihapus')
        //     this.GET_PROFILE()
        //   })
        // }else{
        //   db.ref('bengkel/'+user_.id).on('child_added', (snapshot) => {
        //     console.log('bertambah')
        //     this.GET_PROFILE()
        //   })
        //   db.ref('bengkel/'+user_.id).on('child_changed', (snapshot) => {
        //     console.log('berubah')
        //     this.GET_PROFILE()
        //   })
        //   db.ref('bengkel/'+user_.id).on('child_removed', (snapshot) => {
        //     console.log('dihapus')
        //     this.GET_PROFILE()
        //   })
      }
      this.GET_PROFILE();
      this.GET_USERS();
      this.GET_QUEUE();
      this.GET_SERVICE_CATEGORY();
    }
  },
};
</script>
