<template>
    <div class="auth-content">
        <div class="background-login my-12 pb-1">
            <v-img class="mb-0" src="https://i.ibb.co/v1J1vmJ/photo-removebg-preview.png"  height="150"></v-img>
        </div>
        <v-sheet elevation="0" class="mt-n12 text-left auth-body">
            <div class="title mt-8 container">
                <div class="mb-6">
                    <h2 class="display-3 font-weight-medium">Login</h2>
                    <small>Gunakan akun anda untuk masuk </small>
                </div>
                <v-form v-model="valid" ref="form" lazy-validation>
                    <v-text-field
                        label="Email"
                        rounded
                        filled
                        type="email"
                        v-model="email"
                        :rules="emailRules"
                        :counter="30"
                        required
                    ></v-text-field>
                    <v-text-field
                        label="password"
                        rounded
                        filled
                        type="password"
                        v-model="password"
                        :rules="passwordRules"
                        required
                    ></v-text-field>
                    <v-btn
                        @click="submit"
                        dark
                        :loading="loading"
                        x-large
                        color="#3E4F47"
                        rounded
                        block
                    >
                        Login
                    </v-btn>
                </v-form>
                <div class="text-center mt-4">
                    <small>Belum punya akun ? <router-link to="/register">Daftar</router-link></small>
                </div>
            </div>
            
        </v-sheet>
    </div>
</template>

<script>
import axios from 'axios'
import { mapMutations, mapActions } from 'vuex';
export default {
    data: () => ({
        valid: true,
        password: "",
        loading : false,
        passwordConfirmation : '',
        passwordRules: [v => !!v || "Password is required", v => (v && v.length >= 8) || "Password must be > 8 characters"],
        email: "",
        emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
        ],
    }),     
    methods: {
        ...mapMutations({
            LOGIN : 'LOGIN'
        }),
        ...mapActions({
            SUCCESS_ALERT : 'SUCCESS_ALERT'
        }),
        async submit() {
            if (await this.$refs.form.validate()) {
                this.loading = true
                var data = {
                    email : this.email,
                    password : this.password
                }
                try {
                    this.loading = true
                    await this.LOGIN(data)
                    this.loading = false
                } catch (error) {
                    this.loading = false
                    console.log(error)    
                }
                
            }else{
                this.loading = false
            }
        },
    }
};
</script>

<style>

</style>