<template>
  <div class="container">
    <v-container>
      <h1 class="display-2 font-weight-medium">Lengkapi Profile</h1>
      <small>Lengkapi form dibawah ini untuk profil anda</small>
      <div class="mt-6">
        <v-form>
          <v-text-field
            v-model="form.nama"
            x-large
            height="60"
            label="Nama"
          ></v-text-field>
          <v-autocomplete
            v-model="form.kota"
            :items="['jakarta', 'bogor', 'depok', 'tanggerang', 'bekasi']"
            label="Kota"
            height="60"
            x-large
          ></v-autocomplete>
          <v-textarea label="Alamat" v-model="form.alamat"></v-textarea>
          <v-text-field
            v-model="form.nohp"
            x-large
            type="number"
            height="60"
            label="Nomor Handpone"
          ></v-text-field>
          <v-btn @click="submit()" block outlined rounded x-large>
            Selesai</v-btn
          >
        </v-form>
      </div>
    </v-container>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from "vuex";

export default {
  data() {
    return {
      form: {
        nama: null,
        alamat: null,
        nohp: null,
        kota: null,
        email: null,
        password: null,
      },
    };
  },
  mounted() {
    this.form.nama = this.user.nama;
    this.form.alamat = this.user.alamat;
    this.form.nohp = this.user.nohp;
    this.form.kota = this.user.kota;
    this.form.email = this.user.email;
    this.form.password = null;
  },
  computed: {
    ...mapGetters({
      user: "User/user",
    }),
  },
  methods: {
    ...mapActions({
      COMPLETE_PROFILE: "COMPLETE_PROFILE",
    }),
    submit() {
      this.COMPLETE_PROFILE(this.form);
    },
  },
};
</script>

<style></style>
