<template>
  <div class="container">
    <v-container>
      <h1 class="display-2 font-weight-medium">Informasi Anda</h1>
      <small class="text-capitalize font-weight-bold">{{
        user ? user.email : null
      }}</small>
      <br />
      <small>Jawab pertanyaan dibawah sesuai dengan kondisi bengkel anda</small>
      <div class="my-6">
        <hr class="mb-6" />
        <v-form>
          <p>Apakah bengkel anda memiliki surat izin usaha?</p>
          <v-radio-group v-model="answers.answer1">
            <v-radio
              v-for="(i, n) in questions.question1"
              :key="n"
              :label="`${i.text}`"
              :value="i.value"
            ></v-radio>
          </v-radio-group>
          <p>Berapakah layanan yang dimiliki bengkel anda?</p>
          <v-radio-group v-model="answers.answer2">
            <v-radio
              v-for="(i, n) in questions.question2"
              :key="n"
              :label="`${i.text}`"
              :value="i.value"
            ></v-radio>
          </v-radio-group>
          <p>Berapakah montir yang dimiliki bengkel anda?</p>
          <v-radio-group v-model="answers.answer3">
            <v-radio
              v-for="(i, n) in questions.question3"
              :key="n"
              :label="`${i.text}`"
              :value="i.value"
            ></v-radio>
          </v-radio-group>
          <p>Berapakah pendapatan bengkel anda per bulan?</p>
          <v-radio-group v-model="answers.answer4">
            <v-radio
              v-for="(i, n) in questions.question4"
              :key="n"
              :label="`${i.text}`"
              :value="i.value"
            ></v-radio>
          </v-radio-group>

          <v-btn @click="submit()" block outlined rounded x-large>
            Selesai</v-btn
          >
        </v-form>
      </div>
    </v-container>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from "vuex";

export default {
  data() {
    return {
      questions: {
        question1: [
          { text: "Belum Memiliki", value: 0 },
          { text: "Tidak mengetahui surat izin", value: 1 },
          { text: "Sedang dalam proses pengurusan", value: 2 },
          { text: "Sudah punya", value: 3 },
        ],
        question2: [
          { text: "1", value: 0 },
          { text: "2", value: 1 },
          { text: "3", value: 2 },
          { text: "Lebih dari 4", value: 3 },
        ],
        question3: [
          { text: "1", value: 0 },
          { text: "2", value: 1 },
          { text: "3", value: 2 },
          { text: "Lebih dari 4", value: 3 },
        ],
        question4: [
          { text: "<Rp1.000.000", value: 0 },
          { text: "Rp 1.000.000 - Rp2.000.000", value: 1 },
          { text: "Rp2.000.000 - Rp3.000.000", value: 2 },
          { text: "Lebih dari Rp3.000.000", value: 3 },
        ],
      },
      answers: {
        answer1: 0,
        answer2: 0,
        answer3: 0,
        answer4: 0,
      },
    };
  },
  mounted() {
    console.log(this.user);
  },
  computed: {
    ...mapGetters({
      user: "User/user",
    }),
  },
  methods: {
    ...mapActions({
      COMPLETE_QUESTION: "COMPLETE_QUESTION",
    }),
    submit() {
      var skor = this.answers;
      var totalSkor =
        (skor.answer1 + skor.answer2 + skor.answer3 + skor.answer4) / 4;
      var isVerified = totalSkor >= 2 ? true : false;
      this.COMPLETE_QUESTION({
        skor: totalSkor,
        isVerified: isVerified,
      });
    },
  },
};
</script>

<style></style>
