<template>
  <div class="auth-content">
    <v-sheet elevation="0" class="mt-n8 auth-body">
      <div class="title mt-8 container">
        <div class="mb-6">
          <h2 class="display-3 font-weight-medium">Registrasi</h2>
          <small>Masukkan email dan password yang valid </small>
        </div>
        <v-form v-model="valid" ref="form" lazy-validation>
          <v-text-field
            label="Email"
            rounded
            filled
            type="email"
            v-model="email"
            :rules="emailRules"
            :counter="30"
            required
          ></v-text-field>
          <v-text-field
            label="password"
            rounded
            filled
            type="password"
            v-model="password"
            :rules="passwordRules"
            required
          ></v-text-field>
          <v-text-field
            label="password"
            rounded
            filled
            type="password"
            v-model="passwordConfirmation"
            :rules="passwordRules"
            required
          ></v-text-field>
          <v-btn @click="submit" dark x-large color="#3E4F47" rounded block>
            Registrasi
          </v-btn>
        </v-form>
        <div class="text-center mt-4">
          <small
            >Sudah punya akun ?
            <router-link to="/login">Login</router-link></small
          >
        </div>
      </div>
    </v-sheet>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";
import { mapMutations, mapActions } from "vuex";
export default {
  data: () => ({
    valid: true,
    password: "",
    passwordConfirmation: "",
    passwordRules: [
      (v) => !!v || "Password is required",
      (v) => (v && v.length >= 8) || "Password must be > 8 characters",
    ],
    email: "",
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
  }),
  mounted() {
    localStorage.removeItem("oto_session");
  },
  methods: {
    ...mapActions({
      ERROR_ALERT: "ERROR_ALERT",
      REGISTER: "REGISTER",
    }),
    submit() {
      if (this.$refs.form.validate()) {
        if (this.passwordConfirmation) {
          if (this.password != this.passwordConfirmation) {
            this.ERROR_ALERT("Password tidak sesuai");
          } else {
            Swal.fire({
              title: "Registrasi Akun",
              text: "Pastikan data anda valid",
              icon: "warning",
              showCancelButton: true,
            }).then((res) => {
              if (res.value) {
                var data = {
                  email: this.email,
                  password: this.password,
                };
                this.REGISTER(data);
              }
            });
          }
        } else {
          this.ERROR_ALERT("Isi Konfirmasi password");
        }
      }
    },
    clear() {
      this.$refs.form.reset();
    },
  },
};
</script>

<style></style>
