<template>
  <v-sheet height="100vh">
    <v-container>
      <div class="mb-8">
        <!-- {{ !user || !user.email ? $router.push("/register") : null }} -->
        <small class="grey--text">{{ user.email }}</small>
        <h1>Pilih Akun Anda</h1>
        <small>Pilih jenis akun sesuai dengan kebutuhan anda</small>
      </div>
      <v-sheet class="d-flex flex-column align-center">
        <v-card
          height="160"
          width="160"
          :color="role_id == 2 ? '#3E4F47' : 'white'"
          :dark="role_id == 2 ? true : false"
          class="text-center mx-2 d-flex align-center my-5 justify-center"
          @click="switch_account(2)"
          ripple
        >
          <div>
            <i class="fas fa-users fa-5x"></i>
            <h5 class="mt-3">Pelanggan</h5>
          </div>
        </v-card>
        <v-card
          height="160"
          width="160"
          :color="role_id == 3 ? '#3E4F47' : 'white'"
          :dark="role_id == 3 ? true : false"
          class="text-center mx-2 d-flex align-center my-5 justify-center"
          @click="switch_account(3)"
          ripple
        >
          <div>
            <i class="fas fa-cog fa-5x"></i>
            <h5 class="mt-3">Bengkel</h5>
          </div>
        </v-card>
      </v-sheet>
      <v-row v-if="role_id != 0">
        <v-container>
          <h5>Keterangan</h5>
          <small>{{
            role_id == 1
              ? "Pilih akun ini, jika anda adalah seseorang yang membutuhkan jasa layanan bengkel dan ingin memesan jasa tersebut menggunakan aplikasi ini."
              : "Pilih akun ini, jika anda adalah seseorang montir, yang ingin menggunakan aplikasi ini untuk menerima pesanan dan mengelola layanan anda."
          }}</small>
        </v-container>
      </v-row>
      <v-row>
        <v-container>
          <v-btn
            @click="submit"
            outlined
            :color="role_id == 0 ? 'grey' : 'green'"
            dark
            block
            x-large
            rounded
            >Lanjutkan <i class="fas fa-chevron-right"></i
          ></v-btn>
        </v-container>
      </v-row>
    </v-container>
  </v-sheet>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from "vuex";
export default {
  data() {
    return {
      role_id: 0,
    };
  },
  computed: {
    ...mapGetters({
      user: "User/user",
    }),
  },
  methods: {
    ...mapActions({
      ERROR_ALERT: "ERROR_ALERT",
      COMPLETE_ROLE: "COMPLETE_ROLE",
    }),
    switch_account(role) {
      this.role_id = role;
    },
    submit() {
      if (this.role_id != 0) {
        this.COMPLETE_ROLE(this.role_id);
      } else {
        this.ERROR_ALERT("Anda belum memilih jenis akun");
      }
    },
  },
};
</script>

<style></style>
